@import url('https://fonts.googleapis.com/css?family=Cairo|Liu+Jian+Mao+Cao&display=swap');

/*----- GLOBAL STYLING -----*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*----- NAVBAR -----*/
nav {
    background-color: black;
}
nav ul a:hover {
    background-color: #9e9e9e;
}
nav .brand-logo {
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 4px;
    padding-left: 20px;
    font-family: 'Liu Jian Mao Cao';
    font-weight: 900;
}
.nav-item {
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 0 35px;
    color: #eceff1;
}
.navbar-fixed {
    z-index: 9999;
}
.filters {
    background-color: black;
}
.btn-nav{
    padding: 0 0.5rem;
    color: #fafafa;
}
.btn-flat {
    font-size: 15px;
    margin-top: -5px;
}
.capitalize {
    text-transform: capitalize;
}
.fas {
    font-size: 16px;
    padding-right: 5px;
}
.fa-user {
    padding-right: 10px;
}
.search-icon {
    transform: translateY(-15%);
}

/*----- BUTTON -----*/
.btn {
    background-color: #000000de;
    border-radius: 1.3rem;
    word-spacing: 5px;
    width: auto;
    margin: 0.5rem;
}
.btn-spacing {
    margin-top: 20px;
}
.btn-recipe-card {
    width: auto;
    word-spacing: 2px;
}
.disabled {
    pointer-events: none !important;
}
.btn:hover, .btn-large:hover {
    background-color: #949494;
}

/*----- HEADER / TITLE / TEXT -----*/
.heading {
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
}
.small-text {
    font-size: 12px;
    word-spacing: 2px;
}
.name {
    font-size: 16px;
    line-height: 2.5;
    text-transform: uppercase;
}

/*----- LOGIN / REGISTER -----*/
.section {
    margin-top: 20px;
    border-radius: 1.7rem;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/*----- RECIPE -----*/
.recipe-img {
    border-radius: 1.7rem;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.card .card-content .card-icons {
    margin-top: 10px;
}
.card .card-content .card-title {
    font-size: 16px;
    margin-bottom: 0;
}
.card .card-title {
    font-size: 16px;
}
.card .card-reveal {
    background-color: rgba(255, 255, 255, 0.9);
}
.card .card-content {
    padding: 10px 0;
}
.recipe-preview-card 
.results-card {
    border-radius: 1rem;
}
.recipe-preview-card
.results-card 
.card-image img {
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.1rem;
    height: 5rem;
    overflow-y: auto;
}
.spacing {
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: left;
}
.small-heading {
    margin-bottom: 10px;
}
.list-item-height {
    margin-top: 15px;
}
.results-display {
    margin-bottom: 0;
}
.tabs-spacing {
    margin-bottom: 40px;
}
.container-spacing {
    margin-top: 70px;
    margin-bottom: 70px;
}
.heading-spacing {
    margin-top: 30px;
}
.recipe-form {
    margin-top: 100px;
}
.icon-height {
    transform: translateY(30%);
    padding-right: 10px;
}
.author-name {
    font-size: 14px;
    word-spacing: 2px;
    padding-left: 5px;
}
.icons {
    font-size: 25px;
}
.section-padding {
    padding: 10px;
}
.pagination li.active {
    background-color: #000000de;
}
.modal {
    border-radius: 1.7rem;
}
.modal 
.modal-footer 
.btn, .modal 
.modal-footer 
.btn-large, 
.modal 
.modal-footer 
.btn-flat {
    margin: 6px 6px;
}
.modal .modal-footer {
    text-align: center;
}

/*----- Footer -----*/
.page-footer {
    background-color: #4b788e;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #eceff1;
}

/*----- Media Queries -----*/
@media screen and (min-width: 600px) {
    nav .brand-logo {
        font-size: 38px;
    }
    .recipe-preview-card 
    .results-card 
    .card-image img {
    height: 10rem;
    }
}