{% extends 'base.html' %}{% block content %}

<!-- Heading -->
<h4 class="heading center">Add a Recipe</h4>

<!-- Recipe form container -->
<div class="container">
    <div class="section">
        
        <!-- Instructions -->
        <p class="center">Complete all fields below to create your recipe.</p>
        
        <!-- Recipe form -->
        <form class="recipe-form" action="{{url_for('insert_recipe')}}" method="POST" class="col s12">
            
            <!-- Title -->
            <div class="row">
                <div class="input-field col s12">
                <input required placeholder="Recipe Name" name="recipe_title" type="text" class="validate">
                <label>Recipe Name</label>
                </div>
            </div>
            
            <!-- Short description -->
            <div class="row">
                <div class="input-field col s12">
                <textarea required placeholder="Recipe Short Description" class="materialize-textarea"></textarea>
                <label>Recipe Short Description</label>
                </div>
            </div>
            
            <!-- Image -->
            <div class="row">
                <div class="input-field col s12">
                <input required placeholder="Paste the image URL here" type="text" class="validate">
                <label>Image URL</label>
                </div>
            </div>
            
            <!-- Cuisines -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="cuisine_name" name="cuisine_name" required>
                        <option value="" disabled selected>Cuisine</option>
                        {% set _stub = cuisines.rewind() %}
                        {% for cuisine in cuisines %}
                            <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Cuisine</label>
                </div>
            </div>
            
            <!-- Dishes -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="dish_type" required>
                        <option value="" disabled selected>Dish Type</option>
                        {% set _stub = dishes.rewind() %}
                        {% for dish in dishes %}
                            <option value="{{dish.dish_type}}">{{dish.dish_type}}</option>
                        {% endfor %}
                    </select>
                    <label>Dish Type</label>
                </div>
            </div>
            
            <!-- Allergens -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="allergen_name" multiple required>
                        <option value="" disabled selected>Allergen</option>
                        {% set _stub = allergens.rewind() %}
                        {% for allergen in allergens %}
                            <option value="{{allergen.allergen_name}}">{{allergen.allergen_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Allergens</label>
                </div>
            </div>
            
            <div class="row">
                <!-- Prep Time -->
                <div class="input-field col s6">
                <input required placeholder="20 mins" name="recipe_prep_time" type="text" class="validate">
                <label>Preparation Time</label>
                </div>
                <!-- Cook Time -->
                <div class="input-field col s6">
                <input required placeholder="60 mins" name="recipe_cook_time" type="text" class="validate">
                <label>Cooking Time</label>
                </div>
            </div>
            
            <div class="row">
                <!-- Total Time -->
                <div class="input-field col s6">
                <input required placeholder="1 hrs 20 mins" name="total_time" type="text" class="validate">
                <label>Total Cooking Time</label>
                </div>
                <!-- Servings -->
                <div class="input-field col s6">
                <input required placeholder="4" name="recipe_serves" type="text" class="validate">
                <label>Servings</label>
                </div>
            </div>
            
            <!-- Ingredients -->
            <div class="row">
                <div class="col s12 flow-text">Ingredients</div>
            </div>
            <div id="ingredients">
                <div class="row">
                    <div class="input-field col s10 m11">
                        <input required placeholder="one per line" name="ingred" type="text" class="validate">
                        <label>Ingredients</label>
                    </div>
                    <div class="col s2 m1">
                        <a class="btn-floating waves-effect waves-light black" id="add_ingredient"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
            
            <!-- Method -->
            <div class="row">
                <div class="col s12 flow-text">Method</div>
            </div>
            <div id="recipe_steps">
                <div class="row">
                    <div class="input-field col s10 m11">
                        <input required placeholder="one per line" name="steps" class="materialize-textarea"></textarea>
                        <label for="recipe_steps">Cooking Steps</label>
                    </div>
                    <div class="col s2 m1">
                        <a class="btn-floating waves-effect waves-light black" id="add_step"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
            
            <!-- Submit button -->
            <div class="row">
                <button class="col s12 btn medium-text waves-effect waves-light" type="submit">Save Recipe</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}