<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css" />
    <!-- CSS/Materialize Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS Styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Cookbook</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('all_recipes')}}" class="nav-item"><i class="fas fa-home"></i>Home</a></li>
                        <li><a href="{{url_for('add_recipe')}}" class="nav-item"><i class="fas fa-plus-circle"></i>Add recipe</a></li>
                        {% if session.username %}
                        <li><a href="" class="dropdown-button nav-item" data-activates="user-options1"><i class="fas fa-user"></i> {{session.username}}</a></li> 
                        {% else %}
                        <li><a href="{{url_for('index')}}" class="nav-item"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                        {% endif %}
                    </ul>
                    <ul id="user-options2" class="dropdown-content">
                        <li><a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</li>
                    </ul>
                    <ul id="dishes2" class="dropdown-content">
                        {% for dish in dishes %} 
                        <li><a href="{{url_for('search_dish', dish_type=dish.dish_type)}}">{{dish.dish_type}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul id="cuisines2" class="dropdown-content">
                        {% for dish in dishes %} 
                        <li><a href="{{url_for('search_dish', dish_type=dish.dish_type)}}">{{dish.dish_type}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul id="allergens2" class="dropdown-content">
                        <li><a href="">Allergens</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('all_recipes')}}" class="nav-item"><i class="fas fa-home"></i>Home</a></li>
                        <li><a href="{{url_for('add_recipe')}}" class="nav-item"><i class="fas fa-plus-circle"></i>Add recipe</a></li>
                        {% if session.username %}
                        <li><a href="" class="dropdown-button nav-item" data-activates="user-options2"><i class="fas fa-user"></i> {{session.username}}</a></li> 
                        {% else %}
                        <li><a href="{{url_for('index')}}" class="nav-item"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                        {% endif %}
                        <li><a class="dropdown-button waves-effect waves-light btn" data-activates="dishes2">Dish Types</a></li>
                        <li><a class="dropdown-button waves-effect waves-light btn" data-activates="cuisines2">Cuisines</a></li>
                        <li><a class="dropdown-button waves-effect waves-light btn" data-activates="allergens2">Allergens</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <nav class="filters">
            <div class="nav-wrapper row">
                <ul id="dishes1" class="dropdown-content">
                    {% for dish in dishes %} 
                    <li><a href="{{url_for('search_dish', dish_type=dish.dish_type)}}">{{dish.dish_type}}</a></li>
                    {% endfor %}
                </ul>
                <ul id="cuisines1" class="dropdown-content">
                    {% for dish in dishes %} 
                    <li><a href="{{url_for('search_dish', dish_type=dish.dish_type)}}">{{dish.dish_type}}</a></li>
                    {% endfor %}
                </ul>    
                <ul id="allergens1" class="dropdown-content">
                    <li><a href="">Allergens</a></li>
                </ul>
                <ul class="hide-on-med-and-down col l9">
                    <li><a class="dropdown-button waves-effect waves-light btn" data-activates='dishes1'>Dish Types</a></li>
                    <li><a class="dropdown-button waves-effect waves-light btn" data-activates='cuisines1'>Cuisines</a></li>
                    <li><a class="dropdown-button waves-effect waves-light btn" data-activates='allergens1'>Allergens</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- Block content -->
    {% block content %}
    {% endblock %}
    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $('select').material_select();
            var delete_icon = '<i class="material-icons">delete</i></a></div></div>';
            var ingredient_field = `<div class="row new-ingredient"> <div class="input-field col s11">
                    <input type="text" name="ingred" class="validate">
                    <label>Ingredients</label></div>
                    <div class="col s1"><a class="btn-floating btn waves-effect waves-light black" id="delete_ingredient">
                    ${delete_icon}`;
                var step_field = `<div class="row new-step"> <div class="input-field col s11">
                    <textarea id="recipe_steps" name="steps" class="materialize-textarea"></textarea>
                    <label for="recipe_steps">Cooking Steps</label>
                    <div class="col s1"><a class="btn-floating btn waves-effect waves-light black" id="delete_step">
                    ${delete_icon}`;
                    
            // add and remove ingredient
            $("#add_ingredient").click(function() {
                $("#ingredients").append(ingredient_field);
                Materialize.updateTextFields();
            });
            $("body").on("click","#delete_ingredient", function() {
                $(this).parents(".new-ingredient").remove();
            });
            
            // add and remove step
            $("#add_step").click(function() {
             $("#steps").append(step_field);
                Materialize.updateTextFields();
            });
            $("body").on("click","#delete_step", function() {
                $(this).parents(".new-step").remove();
            });
        });
    </script>
</body>
</html>