<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css" />
    <!-- CSS/Materialize Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS Styles-->
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Cookbook</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('all_recipes')}}" class="nav-item"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}" class="nav-item"><i class="fas fa-plus-circle"></i> Add recipe</a></li>
                    <li><a href="#" class="nav-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#" class="nav-item"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}" class="nav-item"><i class="fas fa-plus-circle"></i> Add recipe</a></li>
                    <li><a href="#" class="nav-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- Block content -->
    {% block content %}
    {% endblock %}
    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $('select').material_select();
            var i = 1;
            var delete_icon = '<i class="material-icons">delete</i></a></div></div>';
            
            // add and remove ingredient
            $("#add_ingredient").click(function() {
            i++;
            var ingredient_field = `<div class="row new-ingredient"> <div class="input-field col s11">
                    <input type="text" name="ing${i}" class="validate">
                    <label>Ingredients</label></div>
                    <div class="col s1"><a class="btn-floating btn waves-effect waves-light black" id="delete_ingredient">
                    ${delete_icon}`;
                console.log(ingredient_field);
                $("#ingredients").append(ingredient_field);
                Materialize.updateTextFields();
            });
            $("body").on("click","#delete_ingredient", function() {
                $(this).parents(".new-ingredient").remove();
            });
            
            // add and remove step
            $("#add_step").click(function() {
                i++;
                var step_field = `<div class="row new-step"> <div class="input-field col s11">
                    <input type="text" name="step${i}" class="validate">
                    <label>Cooking Steps</label></div>
                    <div class="col s1"><a class="btn-floating btn waves-effect waves-light black" id="delete_step">
                    ${delete_icon}`;
                $("#steps").append(step_field);
                Materialize.updateTextFields();
            });
            $("body").on("click","#delete_step", function() {
                $(this).parents(".new-step").remove();
            });
        });
    </script>
</body>
</html>