{% extends 'base.html' %}{% block content %}

<!-- Heading -->
<h4 class="center heading heading-spacing">Edit a Recipe</h4>

<!-- Recipe form container -->
<div class="container">
    <div class="section">
        
        <!-- Instructions -->
        <p class="center">Edit your recipe and than save to update the changes.</p>
        
        <!-- Recipe form -->
        <form action="{{url_for('update_recipe', recipe_id =recipe._id)}}" method="POST" class="recipe-form">
            
            <!-- Title -->
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Recipe Name" id="recipe_title" name="recipe_title" type="text" class="validate" value="{{recipe.recipe_title}}" required>
                    <label for="recipe_title">Recipe Name</label>
                </div>
            </div>
            
            <!-- Short description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Recipe Short Description" id="recipe_short_description" name="recipe_short_description" class="materialize-textarea" required>{{recipe.recipe_short_description}}</textarea>
                    <label for="recipe_short_description">Short Description</label>
                </div>
            </div>
            
            <!-- Image -->
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Paste the image url here" id="recipe_image_url" name="recipe_image_url" type="text" class="validate" value="{{recipe.recipe_image_url}}" required>
                    <label for="recipe_image_url">Image URL</label>
                </div>
            </div>
            
            <!-- Cuisines -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="cuisine_name" name="cuisine_name" required>
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% set _stub = cuisines.rewind() %}
                        {% for cuisine in cuisines %}
                            {% if cuisine.cuisine_name == recipe.cuisine_name %}
                                <option value="{{cuisine.cuisine_name}}" selected>{{cuisine.cuisine_name}}</option>
                            {% else %}
                                <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="cuisine_name">Cuisine</label>
                </div>
            </div>
            
            <!-- Dishes -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="dish_type" name="dish_type" required>
                        <option value="" disabled selected>Choose Dish Type</option>
                        {% set _stub = dishes.rewind() %}
                        {% for dish in dishes %}
                            {% if dish.dish_type == recipe.dish_type %}
                                <option value="{{dish.dish_type}}" selected>{{dish.dish_type}}</option>
                            {% else %}
                                <option value="{{dish.dish_type}}">{{dish.dish_type}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="dish_type">Dish Type</label>
                </div>
            </div>
            
            <!-- Allergens -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="allergen_name" name="allergen_name" multiple required>
                        <option value="Choose Allergen" disabled selected>Choose Allergen</option>
                        {% set _stub = allergens.rewind() %}
                        {% for allergen in allergens %}
                            {% if allergen.allergen_name in recipe.allergen_name %}
                                <option value="{{allergen.allergen_name}}" selected>{{allergen.allergen_name}}</option>
                            {% else %}
                                <option value="{{allergen.allergen_name}}">{{allergen.allergen_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="allergen_name">Allergens</label>
                </div>
            </div>
            
            <div class="row">
                <!-- Prep Time -->
                <div class="input-field col s6">
                    <input placeholder="60 mins" id="recipe_prep_time" name="recipe_prep_time" type="text" class="validate" value="{{recipe.recipe_prep_time}}" required>
                    <label for="recipe_prep_time">Prep. Time</label>
                </div>
                <!-- Cook Time -->
                <div class="input-field col s6">
                    <input placeholder="20 mins" id="recipe_cook_time" name="recipe_cook_time" type="text" class="validate" value="{{recipe.recipe_cook_time}}" required>
                    <label for="recipe_cook_time">Cook Time</label>
                </div>
            </div>
            
            <div class="row">
                <!-- Total Time -->
                <div class="input-field col s6">
                    <input placeholder="1 hrs 20 mins" id="total_time" name="total_time" type="text" class="validate" value="{{recipe.total_time}}" required>
                    <label for="total_time">Total Cooking Time</label>
                </div>
                <!-- Servings -->
                <div class="input-field col s6">
                    <input placeholder="4" id="recipe_serves" name="recipe_serves" type="text" class="validate" value="{{recipe.recipe_serves}}" required>
                    <label for="recipe_serves">Servings</label>
                </div>
            </div>
            
            <!-- Ingredients -->
            <div class="row">
                <div class="col s12 flow-text">Ingredients</div>
            </div>
            <div id="ingredients">
                {% for item in recipe.recipe_ingredients %}
                    {% if item == recipe.recipe_ingredients[0] %}
                    <div class="row">
                        <div class="input-field col s10 m11">
                            <input placeholder="List one ingredient per line" id="recipe_ingredients" name="ingred" type="text" class="validate" value="{{recipe.recipe_ingredients[0]}}" required>
                            <label for="recipe_ingredients">Ingredients</label>
                        </div>
                        <div class="col s2 m1">
                            <a class="btn-floating waves-effect waves-light black" id="add_ingredient"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row new-ingredient"> 
                        <div class="input-field col s11">
                            <input type="text" name="ingred" class="validate" value="{{item}}" required>
                            <label>Ingredient(s)</label>
                        </div>
                        <div class="col s1">
                            <a class="btn-floating waves-effect waves-light black" id="delete_ingredient"><i class="material-icons">delete</i></a>
                        </div>
                    </div>    
                    {% endif %}
                {% endfor %}
            </div>
            
            <!-- Method -->
            <div class="row">
                <div class="col s12 flow-text">Method</div>
            </div>
            <div id="steps">
                {% for item in recipe.recipe_steps %}
                    {% if item == recipe.recipe_steps[0] %}
                    <div class="row">
                        <div class="input-field col s10 m11">
                            <textarea placeholder="List one step per line" id="recipe_steps" name="steps" class="materialize-textarea" required>{{recipe.recipe_steps[0]}}</textarea>
                            <label for="recipe_steps">Cooking Steps</label>
                        </div>
                        <div class="col s2 m1">
                            <a class="btn-floating waves-effect waves-light black" id="add_step"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row new-step"> 
                        <div class="input-field col s11">
                            <textarea id="recipe_steps" name="steps" class="materialize-textarea" required>{{item}}</textarea>
                            <label for="recipe_steps">Cooking Steps</label>
                        </div>
                        <div class="col s1">
                            <a class="btn-floating waves-effect waves-light black" id="delete_step"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            <!-- Submit button -->
            <div class="row">
                <button class="col s12 btn medium-text waves-effect waves-light" type="submit">Save Recipe</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} 