<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css" />
    <!-- CSS/Materialize Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS Styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>
<body>
    <!-- Page header -->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{url_for('index')}}" class="brand-logo center">
                        <span class="white-text">Cookbook</span>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <!-- Alert messages -->
    <div class="container">
        {% if success == True %}
            <p class="red-text text-darken-4">You are successfully registered. Please login.</p>
        {% elif success == False %}
            <p class="red-text text-darken-4">Sorry that username already exists. Please use a different username.</p>
        {% elif login == False %}
            <p class="red-text text-darken-4">Login failed. Incorrect username or/and password. Please try again.</p>
        {% endif %}
    </div>    
    <!-- Guest user -->
    <div class="container">
        <div class="section">
            <h5 class="center">Continue as Guest</h5>
            <div class="divider"></div>
            <div class="center">
                <a href="{{url_for('guest_user')}}" class="btn waves-effect waves-light" type="submit">Guest user</a>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <!-- User Login -->
                <div class="section center">
                    <h5>Login</h5>
                    <div class="divider"></div>
                    <form action="{{url_for('login')}}" method="POST">
                        <div class="input-field">
                            <input placeholder="Enter username" name="username" type="text" class="validate" required>
                            <label>Username</label>
                        </div>
                        <div class="input-field">
                            <input placeholder="Enter password" name="password" type="text" class="validate" required>
                            <label>Password</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">Sign In</button>
                    </form>
                </div>
            </div>
            <div class="col s12 m6">
                <!-- User Registration -->
                <div class="section center">
                    <h5>Register</h5>
                    <div class="divider"></div>
                    <form action="{{url_for('register')}}" method="POST">
                        <div class="input-field">
                            <input placeholder="Enter your full name" name="fullname" type="text" class="validate" required>
                            <label>Full Name</label>
                        </div>
                        <div class="input-field">
                            <input placeholder="Enter username" name="username" type="text" class="validate" required>
                            <label>Username</label>
                        </div>
                        <div class="input-field">
                            <input placeholder="Enter password" name="password" type="text" class="validate" required>
                            <label>Password</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
   
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('select').material_select();
        })
    </script>
</body>
</html> 