{% extends 'base.html' %}{% block content %}

<div class="container heading-spacing">
    <div class="row section">
        <div class="col s12">
            <div class="row">
                <div class="col img-container s12 m5"><img class="recipe-img" src="{{recipe.recipe_image_url}}" alt="dish image"></div>
                <div class="col s12 m7">
                    <h5 class="small-heading">{{recipe.recipe_title}}</h5>
                        <span class="author-name">by <strong class="purple-text text-darken-4">{{recipe.recipe_author_name}}</strong></span>
                    <p>
                        <i class="material-icons icon-height">schedule</i> Preparation Time: {{recipe.recipe_prep_time}}<br>
                        <i class="material-icons icon-height">schedule</i> Cook Time: {{recipe.recipe_cook_time}}<br>
                        <i class="material-icons icon-height">schedule</i> Total Time: {{recipe.total_time}}<br>
                        <i class="material-icons icon-height">local_dining</i> Servings: {{recipe.recipe_serves}}<br>
                    </p>
                    <p><strong>Cuisine name:</strong> {{recipe.cuisine_name}}</p>
                    <p><strong>Dish type:</strong> {{recipe.dish_type}}</p>
                    <p><strong>Allergens:</strong> 
                    {% if recipe.allergen_name %}
                        {% for allergen in recipe.allergen_name %}
                            {% if allergen != recipe.allergen_name[-1] %}
                                {{allergen}}, 
                            {% else %}
                                {{allergen}}.
                            {% endif %}
                        {% endfor %}
                    {% endif %}    
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% if session.username %}
    <div class="row section section-padding">
        <div class="col s6 center">
            {% if session.username.lower() == recipe.recipe_author_name.lower() %}
                <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}">
                    <i class="material-icons icons black-text tooltipped" data-position="bottom" data-tooltip="Edit recipe">edit</i>
                </a>
                <div class="grey-text text-darken-1">Edit</div>
            {% endif%}
        </div>
        <div class="col s6 center">
            {% if session.username.lower() == recipe.recipe_author_name.lower() %}
                <a href="">
                    <i class="material-icons icons black-text tooltipped modal-trigger" data-position="bottom" data-tooltip="Delete recipe" href="#modal1">delete</i>
                </a>
                <div class="grey-text text-darken-1">Delete</div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4 class="title">Are you sure you want to delete this recipe?</h4>
                        <p class="helper italic">This recipe will be permanently deleted!</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}" class="waves-effect waves-light btn delete-yes-btn sm-md-btn" aria-label="Confirm delete recipe button">
                            <i class="fas fa-check" aria-hidden="true"></i>
                            <span class="hide-on-small-and-down">Yes</span>
                        </a>
                        <a class="modal-close waves-effect waves-light btn delete-no-btn sm-md-btn" aria-label="Do not delete recipe button">
                            <i class="fas fa-times" aria-hidden="true"></i>
                            <span class="hide-on-small-and-down">No</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="row spacing">
        <div class="col s12 m5 section">
            <h5 class="small-heading center">Ingredients</h5>
            <ul>
                {% for items in recipe.recipe_ingredients %}
                    <li class="list-item-height">{{items}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m1"></div>
        <div class="col s12 m6 section">
            <h5 class="small-heading center">Method</h5>
            <ol>
                {% for items in recipe.recipe_steps %}
                    <li class="list-item-height">{{items}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}