{% extends 'base.html' %}{% block content %}

<!-- Heading -->
<h4 class="heading center heading-spacing">{{allergen_name}} free recipes</h4>

<div class="row results-display">

    <!-- Result Summary -->
    <ul class="col s12 m6">
        {% if count == 0 %}
            <li>Showing {{skip_num}} - {{skip_num + page_count}} of {{count}} Results</li>
        {% else %}
            <li>Showing {{skip_num + 1}} - {{skip_num + page_count}} of {{count}} Results</li>
        {% endif %}
    </ul>
    
    <!-- Pagination when total pages are more than one-->
    {% if total_pages[1] %}
        <ul class="pagination col s12 m6 right-align">
        {% set num = num|int %}
        
        <!-- Sets value of last_page and total_pages -->
        {% if total_pages %}
            {% set last_page = total_pages[-1]|int %}
        {% else %}
            {% set last_page = 0|int %}{% set total_pages = 0|int %}
        {% endif %}
        
        <!-- Only enables left chevron when page 1 is not active -->
        {% if last_page > 1 %}
            <li {% if request.path.replace(' ','%20') == url_for('search_allergen', allergen_name=allergen_name, num = 1) %} class="disabled" {% else %} class="waves-effect" {% endif %}>
                <a href="{{url_for('search_allergen', allergen_name=allergen_name, num = num-1)}}"><i class="material-icons">chevron_left</i></a>
            </li>
        {% endif %}
        
        <!-- Activates the page selected -->
        {% if total_pages != 0 %}
            {% for num in total_pages %}
                <li {% if request.path.replace(' ','%20') == url_for('search_allergen', allergen_name=allergen_name, num = num) %}class="active" {% endif %}>
                    <a href="{{url_for('search_allergen', allergen_name=allergen_name, num = num)}}">{{num}}</a>
                </li>
            {% endfor %}
        {% endif %}
        
        <!-- Only enables right chevron when last page is not active -->
        {% if last_page > 1 %}
            <li {% if request.path.replace(' ','%20') == url_for('search_allergen', allergen_name=allergen_name, num = last_page) %} class="disabled" {% else %} class="waves-effect" {% endif %}>
                <a href="{{url_for('search_allergen', allergen_name=allergen_name, num = num+1)}}"><i class="material-icons">chevron_right</i></a>
            </li>
        {% endif %}
        </ul>
    {% endif %}    
</div>

<div class="divider"></div>

<div class="row">
    {% for recipe in recipes_per_page %}
    <div class="card medium col s8 offset-s2 m6 l3">
        
        <!-- Image -->
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-img" src="{{recipe.recipe_image_url}}" alt="dish image">
        </div>
        
        <!-- Content -->
        <div class="card-content">
            <!-- Title/Author -->
            <span class="card-title activator grey-text text-darken-4">{{recipe.recipe_title}}<i class="material-icons right">more_vert</i></span>
            <span class="small-text">by <strong class="purple-text text-darken-4">{{recipe.recipe_author_name}}</strong></span>
            <!-- Link to recipe details -->
            <div class="s12 m12">
                <a href="{{url_for('the_recipe', recipe_id = recipe._id, recipe_title = recipe.recipe_title)}}" class="btn btn-recipe-card">View recipe <i class="material-icons right">chevron_right</i></a>
            </div>
        </div>
        
        <!-- Short recipe description -->
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                <i class="material-icons right">close</i>{{recipe.recipe_title}}
            </span>
            <p>{{recipe.recipe_short_description}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}